<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsinda.fdp.mapper.AgentMapper">
  <resultMap id="BaseResultMap" type="com.zsinda.fdp.entity.Agent">
    <!--@mbg.generated-->
    <!--@Table agent-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CONTACTS_USER" jdbcType="VARCHAR" property="contactsUser" />
    <result column="CONTACTS_NO" jdbcType="VARCHAR" property="contactsNo" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="IS_DEL" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `NAME`, ADDRESS, CONTACTS_USER, CONTACTS_NO, CREATE_TIME, CREATE_BY, UPDATE_TIME, 
    UPDATE_BY, IS_DEL
  </sql>
</mapper>