<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.upms.mapper.SysDeptMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.upms.entity.SysDept">
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="address" property="address" />
    <result column="parent_id" property="parentId" />
    <result column="sort" property="sort" />
    <result column="create_time" property="createTime" />
    <result column="create_id" property="createId" />
    <result column="update_time" property="updateTime" />
    <result column="update_id" property="updateId" />
    <result column="is_del" property="isDel" />
    <result column="tenant_id" property="tenantId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, address, parent_id, sort, create_time, create_id, update_time, update_id, is_del, tenant_id
  </sql>
    <select id="listDeptNameByUserId" resultType="java.lang.Long">
      SELECT
      d.id
      FROM
      sys_dept d, sys_user_dept ud WHERE d.id = ud.dept_id AND d.is_del = 0 and ud.user_id IN (#{userId})
    </select>
</mapper>
