<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.upms.mapper.SysParamMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.upms.entity.SysParam">
    <!--@mbg.generated-->
    <!--@Table sys_config-->
    <id column="id" property="id" />
    <result column="config_name" property="paramName" />
    <result column="config_key" property="paramKey" />
    <result column="config_value" property="paramValue" />
    <result column="config_type" property="paramType" />
    <result column="remark" property="remark" />
    <result column="sort" property="sort" />
    <result column="create_id" property="createId" />
    <result column="create_time" property="createTime" />
    <result column="update_id" property="updateId" />
    <result column="update_time" property="updateTime" />
    <result column="is_del" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, config_name, config_key, config_value, config_type, remark, sort, create_id,
    create_time, update_id, update_time, is_del
  </sql>
</mapper>
