<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.upms.mapper.SysRouteConfMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.upms.entity.SysRouteConf">
    <!--@mbg.generated-->
    <!--@Table sys_route_conf-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="route_name" jdbcType="VARCHAR" property="routeName" />
    <result column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="predicates" jdbcType="VARCHAR" property="predicates" />
    <result column="filters" jdbcType="VARCHAR" property="filters" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, route_name, route_id, predicates, filters, uri, sort, create_time, create_id, update_time, update_id,
    is_del
  </sql>
</mapper>