<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.upms.mapper.SysTenantMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.upms.entity.SysTenant">
    <!--@mbg.generated-->
    <!--@Table sys_tenant-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="state" property="state" />
    <result column="expiration_time" property="expirationTime" />
    <result column="logo" property="logo" />
    <result column="remake" jdbcType="LONGVARCHAR" property="remark" />
    <result column="create_time" property="createTime" />
    <result column="create_id" property="createId" />
    <result column="update_time" property="updateTime" />
    <result column="update_id" property="updateId" />
    <result column="is_del" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `state`, expiration_time, logo, `remake`, create_time, create_id, update_time, update_id,
    is_del
  </sql>
</mapper>
