<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.upms.mapper.SysUserDeptMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.upms.entity.SysUserDept">
    <!--@mbg.generated-->
    <!--@Table sys_user_dept-->
    <id column="user_id" property="userId" />
    <id column="dept_id" property="deptId" />
  </resultMap>
</mapper>