<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhuicloud.push.mapper.PushTemplateMapper">
  <resultMap id="BaseResultMap" type="com.xhuicloud.push.entity.PushTemplate">
    <!--@mbg.generated-->
    <!--@Table push_template-->
    <id column="id" property="id" />
    <result column="tenant_id" property="tenantId" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <result column="is_del" jdbcType="BOOLEAN" property="isDel" />
    <result column="create_id" property="createId" />
    <result column="update_id" property="updateId" />
    <result column="remark" property="remark" />
    <result column="content" property="content" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="kv" property="kv" />
    <result column="group_id" property="groupId" />
    <result column="channel" property="channel" />
    <result column="channel_id" property="channelId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, tenant_id, create_time, update_time, is_del, create_id, update_id, remark, content, 
    `status`, kv, group_id, channel, channel_id
  </sql>
</mapper>