package ${package}.service.impl;

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.entity.${ClassName};
import ${package}.mapper.${ClassName}Mapper;
import ${package}.service.${ClassName}Service;
import org.springframework.stereotype.Service;

/**
 * @program: ${projectName}
 * @description: ${tableComment}
 * @author: ${author}
 * @create: ${datetime}
 */
@Service
public class ${ClassName}ServiceImpl extends ServiceImpl<${ClassName}Mapper, ${ClassName}> implements ${ClassName}Service {

}
