package ${package}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import ${package}.entity.${className};


/**
 * @program: ${projectName}
 * @description: ${tableComment}
 * @author: ${author}
 * @create: ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

}
