<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsinda.fdp.mapper.SysOpenServiceMapper">
  <resultMap id="BaseResultMap" type="com.zsinda.fdp.entity.SysOpenService">
    <!--@mbg.generated-->
    <!--@Table sys_open_service-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_ secret" jdbcType="VARCHAR" property="appSecret" />
    <result column="app_desc" jdbcType="VARCHAR" property="appDesc" />
    <result column="redirect_url" jdbcType="VARCHAR" property="redirectUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="del_flag" jdbcType="INTEGER" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, app_id, `app_ secret`, app_desc, redirect_url, create_time, update_time, 
    del_flag
  </sql>
</mapper>