<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsinda.fdp.mapper.SysUserOpenServiceMapper">
  <resultMap id="BaseResultMap" type="com.zsinda.fdp.entity.SysUserOpenService">
    <!--@mbg.generated-->
    <!--@Table sys_user_open_service-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="open_service_id" jdbcType="INTEGER" property="openServiceId" />
    <result column="user_openid" jdbcType="VARCHAR" property="userOpenid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, open_service_id, user_openid
  </sql>
</mapper>