<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsinda.fdp.mapper.SysUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.zsinda.fdp.entity.SysUserRole">
    <!--@mbg.generated-->
    <!--@Table sys_user_role-->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
</mapper>